.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.submit-new {
  width: 40%;
  background: #fff;
  border-radius: 15px;
  padding: 20px 10px;
}